@use "../helpers" as *;

.table-search {
    width: 100%;
    max-width: var(--container-width);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    padding: var(--container-padding);
    margin: 0 auto;

    background-color: var(--color-gray-trasp-2);

    &__title,
    &__field {
        padding: fluid(9, 5);
        max-width: fluid(300, 200);
        overflow-wrap: break-word;

        @include tablet {
            max-width: fluid(200, 100);
        }
    }

    &__title {
        background-color: var(--color-gray-3);

        &:not(:last-child) {
            border-right: var(--border);
        }

        &:first-child {
            border-radius: var(--border-radius) 0 0 0;
        }

        &:last-child {
            border-radius: 0 var(--border-radius) 0 0;
        }

    }

    &__body {
        border-top: var(--border);
        text-align: center;
        border-radius: var(--border-radius);
    }

    &__not-found {
        text-align: center;
        color: var(--color-gray-4);
        padding: fluid(30, 10);
    }

    &__loader-cell {
        text-align: center;
        padding: fluid(30, 10);
    }
}